<a href="https://colab.research.google.com/github/Keishan1/pythoncodes/blob/main/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Keishan martin </center>
#<h4 align="center">December 20, 2021</h3> 
#<h4 align="center">Explanation: *(scrape the Pokemon website to get the name of all the Pokemons so I can use the Pokemon API to get their abilities)* </h3> 
___

In [15]:
#Import all the necessary libraries 
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [16]:
#Website being scraped, and making request to
URL = 'https://pokemondb.net/pokedex/all'
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

In [17]:
#find table on webpage
table = soup.find('table')

In [18]:
#List each data will be appened to
IDS= []
Name = []
Type = []
Total = []
HP = []

#for all the column in the table append them to there corresponding list,
#int is stated to turn certain columns into intergers to be
#able to describe method
for row in table.find_all('tr'):
  cells = row.findAll('td')
  if(len(cells) == 10):
    IDS.append(int(cells[0].get_text()))
    Name.append(cells[1].get_text())
    Type.append(cells[2].get_text())
    Total.append(int(cells[3].get_text()))
    HP.append(int(cells[4].get_text()))

In [19]:
#To create the data frame
DF1 = pd.DataFrame()

#To name each column and state the list the colum will get its numbers from 
DF1['ID'] = IDS
DF1['Name'] = Name
DF1['Type'] = Type
DF1['Total'] = Total
DF1['HP'] = HP

In [20]:
DF1

       ID                    Name           Type  Total   HP
0       1               Bulbasaur   Grass Poison    318   45
1       2                 Ivysaur   Grass Poison    405   60
2       3                Venusaur   Grass Poison    525   80
3       3  Venusaur Mega Venusaur   Grass Poison    625   80
4       4              Charmander          Fire     309   39
...   ...                     ...            ...    ...  ...
1040  896               Glastrier           Ice     580  100
1041  897               Spectrier         Ghost     580  100
1042  898                 Calyrex  Psychic Grass    500  100
1043  898       Calyrex Ice Rider    Psychic Ice    680  100
1044  898    Calyrex Shadow Rider  Psychic Ghost    680  100

[1045 rows x 5 columns]

___

In [21]:
#import json library
import requests
import json

In [8]:
#List each data will be appened to
Attack = []
Defense = []
Sp_attack = []
Sp_defense = []
Speed = []

#for each item in the list called ID a request will be made to this API Key
#that will return and append the specified data, if and only if thet staus code is
#200 when request is made
for ID in IDS:
  url = f"https://pokeapi.co/api/v2/pokemon/{ID}/"
  r = requests.get(url)
  data = r.json()
  if(r.status_code == 200):
    Attack.append(int(data['stats'][1]['base_stat']))
    Defense.append(int(data['stats'][2]['base_stat']))
    Sp_attack.append(int(data['stats'][3]['base_stat']))
    Sp_defense.append(int(data['stats'][4]['base_stat']))
    Speed.append(int(data['stats'][5]['base_stat']))

In [9]:
#To create the data frame
DF2 = pd.DataFrame()

#To name each column and state the list the column will get its numbers from 
DF2['Attack'] = Attack
DF2['Defense'] = Defense
DF2['Sp. Attack'] = Sp_attack
DF2['Sp. Defense'] = Sp_defense
DF2['Speed'] = Speed

In [10]:
DF2

      Attack  Defense  Sp. Attack  Sp. Defense  Speed
0         49       49          65           65     45
1         62       63          80           80     60
2         82       83         100          100     80
3         82       83         100          100     80
4         52       43          60           50     65
...      ...      ...         ...          ...    ...
1040     145      130          65          110     30
1041      65       60         145           80    130
1042      80       80          80           80     80
1043      80       80          80           80     80
1044      80       80          80           80     80

[1045 rows x 5 columns]

In [11]:
#used concat to join the two data frames togther 
DF3 = pd.concat([DF1, DF2], axis=1)

In [12]:
DF3

       ID                    Name  ... Sp. Defense  Speed
0       1               Bulbasaur  ...          65     45
1       2                 Ivysaur  ...          80     60
2       3                Venusaur  ...         100     80
3       3  Venusaur Mega Venusaur  ...         100     80
4       4              Charmander  ...          50     65
...   ...                     ...  ...         ...    ...
1040  896               Glastrier  ...         110     30
1041  897               Spectrier  ...          80    130
1042  898                 Calyrex  ...          80     80
1043  898       Calyrex Ice Rider  ...          80     80
1044  898    Calyrex Shadow Rider  ...          80     80

[1045 rows x 10 columns]

In [13]:
#generats a csv file, with data
DF3.to_csv('Pokemon.csv')

In [14]:
#generate statistical data 
DF3.describe()

                ID        Total  ...  Sp. Defense        Speed
count  1045.000000  1045.000000  ...  1045.000000  1045.000000
mean    440.769378   439.314833  ...    71.107177    68.142584
std     262.517231   121.970701  ...    26.708839    28.946406
min       1.000000   175.000000  ...    20.000000     5.000000
25%     212.000000   330.000000  ...    50.000000    45.000000
50%     436.000000   458.000000  ...    70.000000    65.000000
75%     670.000000   515.000000  ...    89.000000    90.000000
max     898.000000  1125.000000  ...   230.000000   200.000000

[8 rows x 8 columns]